:root{
    --pad-side-mob: 6%;
    --pad-top-mob: 20px;
    --pad-side-desk: 11%;
    --pad-top-desk: 37px;
    --color-white: #fff;
    --color-pink: #DB2A6B;
    --color-black-500: #2B2D38;
    --font-merriweather: 'MerriWeather', serif;
    --font-poppins: 'Poppins', sans-serif;
}
